<a href="https://colab.research.google.com/github/rajkumar260/codespaces-jupyter/blob/Raj/Rajlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print("Hello raj")
x=8
y=9
print(x+y)
x>y
print(x<y)
x<y
type(7.9)
2174237489216429749027429087420749274712738927397397329072890478904790479490497498479287657448676594947492839048829742801280312974028412848971412340249123742401274
3*3+4/5

Hello raj
17
True

9.8

# New Section

In [ ]:
6*3+1*1+1*0

19

In [ ]:
london_points=(6*3)+(1*1)+(2*0)
print(london_points)

19

In [ ]:
x=5
y=8
if(x>y):
  print("x is greater than y")
else:
  print("x is lesser than y ")
if(x>0):
  print("x is positive number")

x is lesser than y
x is positive number

In [ ]:
x=-1
Fn_at_minus1=x**2 + 3*x - 4
print(Fn_at_minus1)
x=2
Fn_at_2=x**2 + 3*x - 4
print(Fn_at_2)
print(Fn_at_2==0)
print(Fn_at_minus1==0)
print(Fn_at_minus1==-6)

-6
6
False
False
True

In [ ]:
Don="raj"
type(Don)
Don=3
type(Don)
text="my name is raj\ni am danger"
print(text)
name="Hello im Raj"
len(name)
name.count("H")
h_count=name.count("H")

print("the total no. of count of H is"+str(h_count))

my name is raj
i am danger
the total no. of count of H is1

In [ ]:
my_list=[1,"23",True,False,"RAj","RAj"]
print(my_list)
my_list[2]="Raj"
print(my_list)

[1, '23', True, False, 'RAj', 'RAj']
[1, '23', 'Raj', False, 'RAj', 'RAj']

In [ ]:
new_list=["raj",0,False,True]
len(new_list)

4

In [ ]:
new_list=[0,7,8,6]
sum(new_list)

21

In [ ]:
marks=[5,5,7,9,8,4,9,0]
average=sum(marks)/len(marks)
print(average)

5.875

In [ ]:
my_tuple=(6,6.5)
print(my_tuple)
len(my_tuple)
sum(my_tuple)

(6, 6.5)

12.5

In [ ]:
Student_info={"Name":"Raj","Roll no.":21,"DOB":2000}
print(Student_info)
Student_info["DOB"]
Student_info["Name"]
Student_info["Roll no."]
len(Student_info)
type(Student_info)
Student_info["Name"]=Student_info["Name"]   +  "kumar"
Student_info["Name"]
Student_info['DOB']=1999
Student_info['DOB']
print(Student_info)
Student_info.keys()
Student_info.values()
list(Student_info.values())

{'Name': 'Raj', 'Roll no.': 21, 'DOB': 2000}
{'Name': 'Rajkumar', 'Roll no.': 21, 'DOB': 1999}

['Rajkumar', 21, 1999]

In [ ]:
fruits = ['Mango', 'Mango', 'Guava', 'Apple', 'Grapes', 'Guava']
fruit_ = {}
fruit_['Mango'] = fruits.count('Mango')
fruit_['Guava'] = fruits.count('Guava')
fruit_['Apple'] = fruits.count('Apple')
fruit_['Grapes'] = fruits.count('Grapes')
print(fruit_)

{'Mango': 2, 'Guava': 2, 'Apple': 1, 'Grapes': 1}

In [ ]:
name="Raj Kumar"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[5])
print(name[-6])
number="123456_=+}|{:}"
print(number[8])

R
a
j

u

+

In [ ]:
my_tuple=(1,2,"Raj","Thomas")
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[-1])

1
2
Raj
Thomas
Thomas

In [ ]:
my_list=["raj","Thomas","Mason",2]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[3])
my_list[1]=45
print(my_list)
my_list.index("raj")
my_list.index(2)

raj
Thomas
Mason
2
2
['raj', 45, 'Mason', 2]

3

In [ ]:
my_dict={"name":"raj","age":23}
print(my_dict["name"])
print(my_dict["age"])

raj
23

In [ ]:
name="raja"
name[1:3]
name[:]
name[0:2]
name[-4:-2]
name[:3]
name[3:]
name[-2:-4]
name[-1:2]

''

In [ ]:
var="umbrella"
var[0::3]
var[0::2]
var[::2]
var[-4::-2]

'ebu'

In [ ]:
var="computer"
var[2:3:-2]

''

In [ ]:
text="Computer"
text[0:3:1]
text[-5:-2:-1]

''

In [ ]:
var="strategy"
var[-1:-5:-1]

'yget'

In [ ]:
var="python"
var[-1:-5:-1]

'noht'

In [ ]:
var="Ranjan"
var[1: :2]

'ajn'

In [ ]:
a=5
b=a
print(a is b)
id(a)

True

140074095313264

In [ ]:
text="Hey I am here"
print("Hey"in text)
print("Raj"in text)
print("Raj"not in text)
print("am"not in text)

True
False
True
False

In [ ]:
name=input("What is your name")
print("My name is"+ name+"!")

What is your nameraj
My name israj!

In [ ]:
number= int(input("enter the Number"))
Sum= (number)+10
print(Sum)

enter the Number12
22

In [ ]:
age_str=input("enter your age")
print(type(age_str))
age=int(age_str)
print(type(age))
print("you will be "+ str(age+1) + "next year")

enter your age22
<class 'str'>
<class 'int'>
you will be 23next year

In [ ]:
number=input("enter a number:\n")
result=int(number)*2
print(result)

enter a number:
2
4

In [ ]:
my_list=["raj",1,8,4]
print(len(my_list))
index=my_list.index(1)
print(index)
my_list.append(5)
print(my_list)

4
1
['raj', 1, 8, 4, 5]

NameError: ignored

In [ ]:
my_dict={"name":"Raj","Age":22}
my_dict.update({"name":"Ankit"})
print(my_dict)

{'name': 'Ankit', 'Age': 22}

In [ ]:
my_string="Raj"
my_string.replace("python","Raj")
print(my_string)

Raj

In [ ]:
number=input("Enter the number:")
if(int(number) % 2 == 0):
  print("number is even")
else:
  print("number is odd")

Enter the number:78
number is even

In [ ]:
a=5
b=5
if(a==b):
  pass
else:
  print("Raj")

In [ ]:
age=int(input("enter your age"))
if(age<5):
  print("U will get free movie tickets")
elif(age<=12):
  print("Plz pay Rs 50")
elif(age<=64):
  print("plz pay Rs 100")
elif(age>65):
  print("Plz pay Rs 70")

enter your age34
plz pay Rs 100

In [ ]:
a=1
b=1
c=0
if a>0:
  print("I am raj")
  if b>0:
    print("I am dhiraj")
    if c>0:
      print("i am chandan")

I am raj
I am dhiraj

In [ ]:
number_list=[1,2,3,4,5]
result_list=[]
counter=0
for number in number_list:
  result=number**2
  result_list.append(result)
  counter=counter+1
print(result_list)
print(counter)

[1, 4, 9, 16, 25]
5

In [ ]:
for n in range(1,11):
  print(5*n)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for n in range(1,11):
  print("5*",n,"=",5*n)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
for i in range(5):
  char= "*"
  print(char*i)

*
**
***
****

In [ ]:
for i in range(4,0,-1):
  char="*"
  print(char*i)

****
***
**
*

In [ ]:

b=6
print(a*b)
b=2
print(a*b)

48
16

In [ ]:
for i in range(2,11,2):
  print(i**2)

4
16
36
64
100

In [ ]:
for i in range(1,10):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,6):
  print(i)
  if i==4:
    continue
  print("hello i am raj")

1
hello i am raj
2
hello i am raj
3
hello i am raj
4
5
hello i am raj

In [ ]:
for i in range(2,40):
  square=i**2
  if square<500:
    print(square)
  else:
    break

4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484

In [ ]:
numbers=[12,7,8,15,20,10,45]
largest_even=0
for number in numbers:
  if number%2 ==0:
    if number> largest_even:
      largest_even= number
print(largest_even)

20

In [ ]:
i=1
while i<=10:
  print("Raj")
  i=i+1

Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj

In [ ]:
in_list=[12,17,18,8,9,6,5]
i=0
largest_even=0
while i<len(in_list):
  if (in_list[i]%2==0):
    if (in_list[i]>=largest_even):
      largest_even=in_list[i]
  i+=1
print(largest_even)

18

In [ ]:
def add_two_numbers(num1,num2):
  """
  This function wll add two numbers
  Parameters:
   num1: First integer
   num2: Second integer
  Return:
    result: The sum of two numbers
  """
  result = num1+num2
  return result
add_two_numbers(10,20)
add_two_numbers(76,32)

108

In [ ]:
def reverse_string(String_input):
  """
  This function will reverse string.
  Parameters:
   String_inout: Any string as input
  Return:
   result: Reversed string
  """
  reverse= String_input[::-1]
  return reverse

  my_string = "Hello World"
  reversed_string = reverse_string(my_string)
  print(reversed_string)

In [ ]:
class Superhero:
  def __init__(self,Name,Power,Color):
    self.Name=Name
    self.Power=Power
    self.Color=Color
  def greet(self):
    print("I am ",self.Name)
  def strength(self):
    print("I have Power of",self.Power)
Fav_Superhero =Superhero("Ironman",3000,"Red")
Fav_Superhero.greet()
Fav_Superhero.strength()
print(Fav_Superhero.Color)
print(Fav_Superhero.Power)

I am  Ironman
I have Power of 3000
Red
3000

In [ ]:
class Calculator:
  def __init__(self):
    self.result=0
  def add(self,a,b):
    self.result=a+b
    return self.result
  def subtract(self,a,b):
    self.result=a-b
    return self.result
  def multiply(self,a,b):
    self.result=a*b
    return self.result
  def Divide(self,a,b):
    if b==0:
      raise ValueError("Cannot divide by zero")
    self.result=a/b
    return self.result
  def Clear(self):
    self.result=0
    return self.result
Calc=Calculator()
Addition=Calc.add(2,3)
Subtraction=Calc.subtract(5,6)
Division=Calc.Divide(4,2)
print(Addition)
print(Subtraction)
print(Division)

5
-1
2.0

In [ ]:
print("*",end='')
print("*",end="")

**

In [ ]:
for i in range (1,10):
  print("@",end=" ")

@ @ @ @ @ @ @ @ @

In [ ]:
for i in range(4):
  for j in range (4):
    print("*",end= " ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(4):
  for j in range (i+1):
    print("*",end= " ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(4):
  for j in range (i,4):
    print("*",end= " ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(4):
  for j in range (i,4):
    print(" ",end= "")
  print()
  for i in range(4):
     for j in range (i+1):
      print("*",end= " ")
  print()

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [ ]:
ch = input()
if ch =="a":
  print("vowel")
if ch =="e":
  print("vowel")
if ch=="i":
  print("vowel")
if ch=="o":
  print("vowel")
if ch=="u":
  print("vowel")
else:
    print("consonent")

a
vowel
consonent

In [ ]:
pi = 3.14159

# Take the input as radius from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area of the circle
area = pi * radius**2

# Print the result
print(f"The area of the circle with radius {radius} is: {area}")

Enter the radius of the circle: 3
The area of the circle with radius 3.0 is: 28.27431

In [ ]:
string1 = input("Enter the first string: ")


# Check if the strings are palindromes
is_palindrome1 = string1 == string1[::-1]

# Print the results
print(f"{string1} is a palindrome: {is_palindrome1}")

Enter the first string: Palindrome
Palindrome is a palindrome: False

In [ ]:
class Student:
  name="Raj kumar"
obj=Student()
print(obj.name)

Raj kumar

In [ ]:
from typing import ClassVar
def __init__(self,name,color):
  class car:
    self.name=name
    self.color=color
    print("Go")

obj1=("Ferrari","red")
obj2=("Honda","Black")
print(obj2)
print(obj1)
print(obj.name)

('Honda', 'Black')
('Ferrari', 'red')
Raj kumar

In [ ]:
x=10
x="12"
print(type(x))

<class 'str'>

In [ ]:
class Computer:
  def config(self):
    print("i5,16gb,1TB")
com1=Computer()
Computer.config(com1)
com1.config()

i5,16gb,1TB
i5,16gb,1TB

In [ ]:
class Computer:
  def __init__(self,cpu,ram):
    self.cpu=cpu
    self.ram=ram
com1=Computer("i5",16)
print(id(com1))

136945883355824

In [ ]:
class MyClass:
  variable1="Raj"
  variable2="Danger"
def my_Method(self):
  print("Hello Im danger")
Obj=MyClass()
print(Obj.variable1)
print(Obj.variable2)

Raj
Danger

In [ ]:
class Car:
  def __init__(self,color,Model):
    self.color=color
    self.Model=Model
Cars=Car("Red","Ferrari")
print(Cars.color)
print(Cars.Model)

Red
Ferrari

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print("Hello, my name is", self.name)
person = Person("John", 30)
person.greet()

Hello, my name is John

In [ ]:
class Robot:
  def __init__(self,name,version):
    self.name = name
    self.version = version
  def greet(self):
    print("Hi i am",self.name)
robot=Robot("Chitti",2.45)
robot.greet()

Hi i am Chitti

In [ ]:
class Student:
  def __init__(self,m1,m2,m3):
    self.m1=m1
    self.m2=m2
    self.m3=m3
  def avg(self):
    return(self.m1+self.m2+self.m3)/3
s1=Student(34,43,44)
s2=Student(87,54,66)
print(s1.avg())

40.333333333333336

In [ ]:
class Calculator:
  def __init__(self):
    self.result=0
  def add(self,num1,num2):
    self.result=num1+num2
    return self.result
  def subtract(self,num1,num2):
    self.result=num1-num2
    return self.result
  def multiplication(self,num1,num2):
    self.result=num1*num2
    return self.result
  def division(self,num1,num2):
    if num2 == 0:
      raise ValueError("Cannot divide by Zero")
    self.result=num1/num2
    return self.result
  def clear(self):
    self.result=0
    return self.result
Cal=Calculator()
addition=Cal.add(2,3)
subtraction=Cal.subtract(2,3)
print(addition)
print(subtraction)

5
-1

In [ ]:
class Pet:
  def __init__(self,name,age,energy_level):
    self.name=name
    self.age=age
    self.energy_level=energy_level
  def feed(self):
    self.energy_level+=10
  def play(self):
    self.energy_level-=5
  def check_health(self):
    if self.energy_level<50:
      print("Your pet is not feeling well")
    else:
      print("Your pet is healthy")
pet1=Pet("Rocky",22,32)
pet1.feed()
pet1.play()
pet1.check_health()
print(pet1.name)
print(pet1.age)
print(pet1.energy_level)

Your pet is not feeling well
Rocky
22
37

In [ ]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        print("Starting engine...")
class Car(Vehicle):
  def __init__(self,make,model,year,doors):
    self.doors=doors
  def drive(self):
    print("Driving the Car")
vehicle=Vehicle("Ferrari",22,23)
car=Car("Lambo",3,34,2)
car.start_engine()
car.drive()

Starting engine...
Driving the Car