<a href="https://colab.research.google.com/github/rajkumar260/codespaces-jupyter/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print("Hello raj")
x=8
y=9
print(x+y)
x>y
print(x<y)
x<y
type(7.9)
2174237489216429749027429087420749274712738927397397329072890478904790479490497498479287657448676594947492839048829742801280312974028412848971412340249123742401274
3*3+4/5

Hello raj
17
True

9.8

# New Section

In [ ]:
6*3+1*1+1*0

19

In [ ]:
london_points=(6*3)+(1*1)+(2*0)
print(london_points)

19

In [ ]:
x=5
y=8
if(x>y):
  print("x is greater than y")
else:
  print("x is lesser than y ")
if(x>0):
  print("x is positive number")

x is lesser than y
x is positive number

In [ ]:
x=-1
Fn_at_minus1=x**2 + 3*x - 4
print(Fn_at_minus1)
x=2
Fn_at_2=x**2 + 3*x - 4
print(Fn_at_2)
print(Fn_at_2==0)
print(Fn_at_minus1==0)
print(Fn_at_minus1==-6)

-6
6
False
False
True

In [ ]:
Don="raj"
type(Don)
Don=3
type(Don)
text="my name is raj\ni am danger"
print(text)
name="Hello im Raj"
len(name)
name.count("H")
h_count=name.count("H")

print("the total no. of count of H is"+str(h_count))

my name is raj
i am danger
the total no. of count of H is1

In [ ]:
my_list=[1,"23",True,False,"RAj","RAj"]
print(my_list)
my_list[2]="Raj"
print(my_list)

[1, '23', True, False, 'RAj', 'RAj']
[1, '23', 'Raj', False, 'RAj', 'RAj']

In [ ]:
new_list=["raj",0,False,True]
len(new_list)

4

In [ ]:
new_list=[0,7,8,6]
sum(new_list)

21

In [ ]:
marks=[5,5,7,9,8,4,9,0]
average=sum(marks)/len(marks)
print(average)

5.875

In [ ]:
my_tuple=(6,6.5)
print(my_tuple)
len(my_tuple)
sum(my_tuple)

(6, 6.5)

12.5

In [ ]:
Student_info={"Name":"Raj","Roll no.":21,"DOB":2000}
print(Student_info)
Student_info["DOB"]
Student_info["Name"]
Student_info["Roll no."]
len(Student_info)
type(Student_info)
Student_info["Name"]=Student_info["Name"]   +  "kumar"
Student_info["Name"]
Student_info['DOB']=1999
Student_info['DOB']
print(Student_info)
Student_info.keys()
Student_info.values()
list(Student_info.values())

{'Name': 'Raj', 'Roll no.': 21, 'DOB': 2000}
{'Name': 'Rajkumar', 'Roll no.': 21, 'DOB': 1999}

['Rajkumar', 21, 1999]

In [ ]:
fruits = ['Mango', 'Mango', 'Guava', 'Apple', 'Grapes', 'Guava']
fruit_ = {}
fruit_['Mango'] = fruits.count('Mango')
fruit_['Guava'] = fruits.count('Guava')
fruit_['Apple'] = fruits.count('Apple')
fruit_['Grapes'] = fruits.count('Grapes')
print(fruit_)

{'Mango': 2, 'Guava': 2, 'Apple': 1, 'Grapes': 1}

In [ ]:
name="Raj Kumar"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[5])
print(name[-6])
number="123456_=+}|{:}"
print(number[8])

R
a
j

u

+

In [ ]:
my_tuple=(1,2,"Raj","Thomas")
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[-1])

1
2
Raj
Thomas
Thomas

In [ ]:
my_list=["raj","Thomas","Mason",2]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[3])
my_list[1]=45
print(my_list)
my_list.index("raj")
my_list.index(2)

raj
Thomas
Mason
2
2
['raj', 45, 'Mason', 2]

3

In [ ]:
my_dict={"name":"raj","age":23}
print(my_dict["name"])
print(my_dict["age"])

raj
23

In [ ]:
name="raja"
name[1:3]
name[:]
name[0:2]
name[-4:-2]
name[:3]
name[3:]
name[-2:-4]
name[-1:2]

''

In [ ]:
var="umbrella"
var[0::3]
var[0::2]
var[::2]
var[-4::-2]

'ebu'

In [ ]:
var="computer"
var[2:3:-2]

''

In [ ]:
text="Computer"
text[0:3:1]
text[-5:-2:-1]

''

In [ ]:
var="strategy"
var[-1:-5:-1]

'yget'

In [ ]:
var="python"
var[-1:-5:-1]

'noht'

In [ ]:
var="Ranjan"
var[1: :2]

'ajn'

In [ ]:
a=5
b=a
print(a is b)
id(a)

True

140074095313264

In [ ]:
text="Hey I am here"
print("Hey"in text)
print("Raj"in text)
print("Raj"not in text)
print("am"not in text)

True
False
True
False